<div class="col-md-6">
  <div style="padding-bottom: 5%;padding-top: 5%"><h3>Welcome to <%= APP_CONFIG[:product_name] %></h3> </div>

  <p>
    Loremipsum Loremipsum Loremipsum  Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum
    Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum
    Loremipsum Loremipsum Loremipsum
  </p>

  <p>
    Reminders:  Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum
  </p>

  <p>
    Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum
    <a href="#" target="_blank">Go online </a>to setup your own business or simply mail us to
    <a href="mailto:#" target="_top"><%= APP_CONFIG[:contact_email] %></a>.
  </p>

</div>