<footer>
  <div class="footer-box">
    <div class="footer-col">
      <h3><%= APP_CONFIG[:product_name] %></h3>
      <ul class="links">
        <li><a href="#">About Us</a></li>
        <li><a href="#" target="_blank">Blogs</a></li>
        <li><a href="#">T &amp; C/Privacy Policy</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>
    <div class="clr"></div>
  </div>
</footer>