<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
    <div class="sidebar-collapse" style="overflow: hidden; width: auto; height: 100%;">
      <ul class="nav metismenu" id="side-menu">

        <li class="">
          <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Admin</span><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse"id="admin_menu"  style="height: 0px;">
            <li class="active"><a href="<%= root_url %>">Manage Clients</a></li>
            <li class="active"><a href="<%= root_url %>">Manage Users</a></li>
            <li class="active"><a href="<%= root_url %>">Manage Applications</a></li>

            <% if session[:email].present? %>
                <li class="active"><a href="<%= sign_out_login_index_path %>">Logout</a></li>
            <% end %>

          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>